name: Update to latest Calibre Release

on:
  schedule:
    - cron: '30 5 * * *'
  workflow_dispatch:

jobs:
  update-tags:
    name: Check Calibre releases and update tags
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Update Tag
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
          ./update.sh
